:root {
    --padding-main: 16px;
    --primary-color: #DFF8EB;
    --secondary-color: #000;
    --terziary-color: #fff;
    --border-standard: 1px solid black;
    --border-tycker: 3px solid black;

}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin:0;
    text-align: center;

}

.statistics-field {
    background-color: var(--terziary-color);
    border: var(--border-tycker);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
    margin-right: 10%;
    padding: var(--padding-main);
}

.stat,
button {
    font-size: calc(0.8rem + 1vw);
    font-weight: bold;
}

header,
footer {
    color: var(--secondary-color);
    padding: var(--padding-main);

}

h1 {
    font-size: calc(2rem + 2vw);
    font-style: oblique; 
    font-weight: bold;
}

h3 {
    font-size: calc(1rem + 1vw);
    font-style: oblique; 
    font-weight: bold;
    text-align: center;
}

section {
    flex-grow: 1;
}

.grid-display-colours {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    margin: 5% 10%;
}    

.box {
    border: var(--border-tycker);
    border-radius: 50px;
    cursor: pointer;
    min-height: 50px;
    padding: 12px;
    margin-bottom: 16px;
}

.box:hover,
button:hover {
    transform: scale(1.1);
}

.full-board {
    border: var(--border-tycker);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
    min-height: 200px;
    min-width: 200px;
}

.board,
.pegs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.pegs {
    align-items: center;
}

.board-cell {
    background-color: white;
    border: var(--border-tycker);
    border-radius: 50%;
    margin: 5px;
    min-height: 50px;
    min-width: 50px;
}

.peg-cell {
    background-color: white;
    border: var(--border-standard);
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.solution-code {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container-solution {
    background-color: var(--secondary-color);
    border: var(--border-tycker);
    border-radius: 50%;
    height:75px;
    width: 75px;
}

.buttons-field {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

button {
    background-color: #f7f7ff;
    border: var(--border-standard);
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem;
    min-width: calc( 100px - 1.5vw);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none; 
    transition: all linear 0.4s; 
}

.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
.brown {
    background-color: brown;
}
.aqua {
    background-color: aqua;
}

@media screen and (min-width: 768px){
    .buttons-field {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    
    .stat,
    button {
        font-size: calc( 1.2rem + 1.2vw);
    }
    
    .box {
        min-height: 90px;
        max-width: 200px;
    }

    .board-cell {
        background-color: white;
        border: var(--border-tycker);
        border-radius: 50%;
        margin: 5px;
        min-height: 75px;
        min-width: 75px;
    }
    
    .peg-cell {
        background-color: white;
        border: var(--border-standard);
        border-radius: 50%;
        margin-left: 5px;
        height: 35px;
        width: 35px;
    }
   
}

@media screen and (min-width: 1024px) {
    .box {
        min-height: 100px;
        max-width: 250px;
    }

   .board-cell {
    background-color: white;
    border: var(--border-tycker);
    border-radius: 50%;
    margin: 5px;
    height: 85px;
    width: 85px;
    }

    .peg-cell {
    background-color: white;
    border: var(--border-standard);
    border-radius: 50%;
    margin-left: 5px;
    min-height: 50px;
    min-width: 50px;
    }

    .solution-code {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 10%;
        margin-right: 10%;
    }
}
